h1{
    font-family: sans-serif;
    font-size: 1.5em;

}

/*h1.page-header{
    text-align: center;
}*/

h2{
    font-family: sans-serif;

}

/*h2.top-scorer{
    text-align: center;
}*/
/*label.choose-league{
    text-align: center;
}
form.leagueForm{
    text-align: center;
}*/
strong{
    font-weight: 700;
    background-color: yellow;
}

p{
    font-family: sans-serif;
}

table, th, td{
    border: 1px solid;

}

/*.table-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.table{
    width: auto;
    margin: auto;
}*/
tr:nth-child(even){
    background-color: #f2f2f2;
}

