<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script>
        function onLeagueChange(){
            var selectedLeague = document.getElementById('leagues').value;
            document.getElementById('top-scorer-headline').textContent = "Top Scorers in " + selectedLeague;
            document.getElementById('leagueForm').submit();
        }
    </script>
</head>

<body>

    <h1 class="page-header">Top 4 Leagues - Top Scorers</h1>
    <hr>
    <label class="choose-league" for="leagues">Choose a league:</label>
<form class ="leagueForm" id="leagueForm" action="/home" method="get">
    <select name="leagues" id="leagues" onchange="onLeagueChange()">
        <option hidden disabled th:selected="${leagues == 'select'}" value = "select">-- Select a league --</option>
        <option th:selected ="${leagues == 'La Liga'}" value = "La Liga">La Liga</option>
        <option th:selected ="${leagues == 'Premier League'}" value = "Premier League">Premier League</option>
        <option th:selected ="${leagues == 'Ligue 1'}" value = "Ligue 1">Ligue 1</option>
        <option th:selected ="${leagues == 'Bundesliga'}" value = "Bundesliga">Bundesliga</option>
    </select>
</form>
    <h2 class="top-scorer" id="top-scorer-headline" th:text="${leagues == 'select'} ? 'Top Scorers' : 'Top Scorers in ' + ${leagues}"></h2>
    <br><br>
    <div class="table-container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Goals Scored</th>
            <th>Assists Given</th>
            <th>Matches Played</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players} ">
            <td th:text="${player.playerName}">1</td>
            <td th:text="${player.goalsScored}">1</td>
            <td th:text="${player.assistsGiven}">1</td>
            <td th:text="${player.matchesPlayed}">1</td>

        </tr>
        </tbody>
    </table>
    </div>
</body>
</html>