<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <h1>La Liga Stats Page</h1>
    <hr>
    <h2>Top Scorers</h2>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Goals Scored</th>
            <th>Assists Given</th>
            <th>Matches Played</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players} ">
            <td th:text="${player.playerName}">1</td>
            <td th:text="${player.goalsScored}">1</td>
            <td th:text="${player.assistsGiven}">1</td>
            <td th:text="${player.matchesPlayed}">1</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>